<project>

<app>
 <log_level>debug</log_level>
 <log_name>out</log_name>
</app>

<service>
 <server enable="true" class="data_server" des="数据服务">
 </server>
 
 <server enable="false" class="md_server" des="行情服务">
 </server>

 <server enable="true" class="query_server" des="查询服务">
 </server>

 <server enable="true" class="gate_server" des="接入服务">
    <listen_addr>ws://0.0.0.0:5401</listen_addr>
 </server>
</service>

<plug_md des="行情插件">
    <plug enable="false" des="行情播放插件" path="../../lib/plug/libplug_md_replay.dylib">
        <name>replay</name>
        <log_level>debug</log_level>
   </plug>

  
</plug_md>

<plug_bz des="业务插件">

</plug_bz>

<plug_td des="交易插件">
      <plug_dir>/Users/hehong/git/sqtp_cpp/lib/plug</plug_dir>
      <plug enable="true" des="模拟撮合-推导" name="plug_td_sim_driver"> 
        <name>plug_sim_driver</name>
        <log_level>debug</log_level>
        <tick>1</tick>
        <unit>10</unit>
        <beforeme_type>1</beforeme_type>
        <beforeme_fix>1</beforeme_fix>
        <beforeme_rate>0.5</beforeme_rate>
        <cancel_match_rate>0.5</cancel_match_rate>
        <all_match_type>0</all_match_type>
        <enable_best_match>true</enable_best_match>
        <support_sim_log>true</support_sim_log>
        <match_price_triger_type>handup</match_price_triger_type>
        <quot_file>/Users/hehong/Downloads/test_data/a2305.csv</quot_file>
        <support_contract>a2305</support_contract>
        <quot_file_header>variety,contract,time,price,match_qty,turnover,interest,BP5,BV5,BP4,BV4,BP3,BV3,BP2,BV2,BP1,BV1,SP1,SV1,SP2,SV2,SP3,SV3,SP4,SV4,SP5,SV5</quot_file_header>
        <quot_file_have_header>false</quot_file_have_header>
   </plug>
    <plug enable="false" des="模拟撮合-推导" name="plug_td_sim_by_quot"> 
        <name>plug_sim_by_quot</name>
        <log_level>debug</log_level>
        <quot_file>/home/hehong/git/data/a2305.csv</quot_file>
        <support_contract>a2305</support_contract>
        <quot_file_header>variety,contract,time,price,match_qty,turnover,interest,BP5,BV5,BP4,BV4,BP3,BV3,BP2,BV2,BP1,BV1,SP1,SV1,SP2,SV2,SP3,SV3,SP4,SV4,SP5,SV5</quot_file_header>
        <quot_file_have_header>false</quot_file_have_header>
   </plug>
</plug_td>

</project>